name: CI

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  component-tests:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout source
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Lint Bash scripts
        uses: ./quality/bash

      - name: Lint Markdown files
        uses: ./quality/markdown

      - name: Prepare documentation assets
        uses: ./foss/prepare-ghpages
