name: CI

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  component-tests:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Lint Bash scripts
        uses: ./quality/bash

      - name: Prepare documentation assets
        uses: ./foss/prepare-ghpages
