name: CI

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  component-tests:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout source
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Lint Bash scripts
        uses: ./quality/bash

      - name: Lint Markdown files
        uses: ./quality/markdown

      - name: Prepare documentation assets
        uses: ./foss/prepare-ghpages
