name: CI

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  component-tests:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Lint Bash scripts
        uses: ./quality/bash

      - name: Lint Markdown files
        uses: ./quality/markdown

      - name: Prepare documentation assets
        uses: ./foss/prepare-ghpages
